<header>
    {{!-- <img src="/images/logo_ith.png" alt="Logo ITH" srcset=""> --}}
    <h1>Capacitación a docentes — Instituto Tecnológico de Hermosillo</h1>
    <div>
        <h3>
            <p>Navegación:</p>
        </h3>
        <p><a href={{getAccountHref user}}>{{getAccountStatus user}}</a></p>
        <p><a href="/courses">Cursos</a></p>
        <h3>
            <p>Administración:</p>
        </h3>
        <p><a href="/admin-courses">Administrar Cursos</a></p>
        <p><a href="/admin-users">Administrar Usuarios</a></p>
    </div>
</header>