<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Error — Capacitación a docentes</title>
    <script async src="/js/admin-courses.js"></script>
</head>

<body>
    Hubo un error al cargar esta página. Si esto es inusual, contacta al administrador
    {{> footer}}
</body>

</html>