<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ingresar — Capacitación a docentes</title>
    <script async src="/js/login.js"></script>
</head>

<body>
    <h1>Ingresar — Capacitación a docentes</h1>
    <p>
        <label for="username-input">Nombre de usuario</label>
        <input type="text" id="username-input">
    </p>
    <p>
        <label for="password-input">Contraseña</label>
        <input type="password" id="password-input">
    </p>
    <p>
        <button id="login-button">Ingresar</button>
    </p>
    <p id="message-paragraph"></p>
    <p><a href="/register">Registra una cuenta</a></p>
    {{> footer}}
</body>

</html>