<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Registro — Capacitación a docentes</title>
    <script async src="/js/register.js"></script>
</head>

<body>
    <h1>Registro — Capacitación a docentes</h1>
    <p>
        <label for="username-input">Nombre de usuario</label>
        <input type="text" id="username-input">
    </p>
    <p>
        <label for="email-input">Correo</label>
        <input type="text" id="email-input">
    </p>
    <p>
        <label for="password-step1-input">Contraseña</label>
        <input type="password" id="password-step1-input">
    </p>
    <p>
        <label for="password-step2-input">Repite la contraseña</label>
        <input type="password" id="password-step2-input">
    </p>
    <p>
        <label for="name-input">Nombres</label>
        <input type="text" id="name-input">
    </p>
    <p>
        <label for="lastName-input">Apellidos</label>
        <input type="text" id="last-name-input">
    </p>
    <p>
        <button id="register-button">Registrar</button>
    </p>
    <p id="message-paragraph"></p>
</body>

</html>